In [1]:
import ibm_db;

In [3]:
dsn_hostname = "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "bkl21830"       
dsn_pwd = "1nhzc^3dv4cn9pn9"     

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"          
dsn_port = "50000"              
dsn_protocol = "TCPIP"

In [4]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=bkl21830;PWD=1nhzc^3dv4cn9pn9;

In [6]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  bkl21830 on host:  dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net

In [7]:
dropQuery = "drop table INSTRUCTOR"
dropStmt = ibm_db.exec_immediate(conn,dropQuery)

In [9]:
createQuery = "create table INSTRUCTOR(id INTEGER PRIMAR KEY NOT NULL, fname VARCHAR(10),lname VARCHAR(10),city VARCHAR(10),ccode CHAR(2))"
createstmt = ibm_db.replace_with_name_of_execution_method(conn, createQuery)

AttributeError: module 'ibm_db' has no attribute 'replace_with_name_of_execution_method'

In [10]:
createQuery = "create table INSTRUCTOR(id INTEGER PRIMAR KEY NOT NULL, fname VARCHAR(10),lname VARCHAR(10),city VARCHAR(10),ccode CHAR(2))"
createstmt = ibm_db.replace_with_name_of_execution_method(conn, createQuery)

AttributeError: module 'ibm_db' has no attribute 'replace_with_name_of_execution_method'

In [11]:
createQuery = "create table INSTRUCTOR(id INTEGER PRIMARY KEY NOT NULL, fname VARCHAR(10),lname VARCHAR(10),city VARCHAR(10),ccode CHAR(2))"
createstmt = ibm_db.exec_immediate(conn, createQuery)

Exception: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "KEY" was found following "OR(id INTEGER PRIMAR".  Expected tokens may include:  "<references_spec>".  SQLSTATE=42601 SQLCODE=-104

In [12]:
createQuery = "create table INSTRUCTOR(id INTEGER PRIMARY KEY NOT NULL, fname VARCHAR(10),lname VARCHAR(10),city VARCHAR(10),ccode CHAR(2))"
createstmt = ibm_db.exec_immediate(conn, createQuery)

In [15]:
insertQuery = "INSERT INTO INSTRUCTOR(id,fname,lname,city,ccode) values (1,'Rav','Ahuja','Toronto','CA'),(2,'Raul','Chong','Markham','CA'),(3,'Hima','Vasudevan','Chicago','US')"
insertStmt = ibm_db.exec_immediate(conn,insertQuery)

In [16]:
selectQuery = "select * from INSTRUCTOR"
selectstmt = ibm_db.exec_immediate(conn,selectQuery)

In [17]:
ibm_db.fetch_both(selectstmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'Toronto',
 3: 'Toronto',
 'CCODE': 'CA',
 4: 'CA'}

In [18]:
import pandas

In [19]:
ibm_db.fetch_both(selectstmt)

{'ID': 2,
 0: 2,
 'FNAME': 'Raul',
 1: 'Raul',
 'LNAME': 'Chong',
 2: 'Chong',
 'CITY': 'Markham',
 3: 'Markham',
 'CCODE': 'CA',
 4: 'CA'}

In [22]:
while ibm_db.fetch_row(selectstmt) != False:
    print(" ID:", ibm_db.result(selectstmt,0), "Fname: ", ibm_db.result(selectstmt,"fname"))

In [26]:
updateQuery = "update INSTRUCTOR set CITY='MOOSETOWN' WHERE FNAME ='Rav'"
updatestmt = ibm_db.exec_immediate(conn,updateQuery)

In [27]:
import ibm_db_dbi

In [28]:
pconn = ibm_db_dbi.Connection(conn)

In [29]:
selectQuery = "select *from INSTRUCTOR"

In [30]:
pdf = pandas.read_sql(selectQuery,pconn
                     )

In [31]:
pdf.LNAME[0]

'Ahuja'

In [32]:
pdf

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [33]:
pdf.shape

(3, 5)